.chapter(data-title='Application Setup')
  include chapter1
.chapter(data-title='Creating a User')
  include chapter2
.chapter(data-title='Logging In')
  include chapter3
.chapter(data-title='Accessing Protected Resources')
  include chapter4